<div class="card">
  <p-toast></p-toast>

  <p-fileUpload
    name="file"
    [customUpload]="true"
    (uploadHandler)="onUpload($event)"
    [multiple]="true"
    accept=".pdf,image/*"
    maxFileSize="1000000"
    mode="advanced">

    <ng-template pTemplate="empty">
      <div>Uploaded files.</div>
    </ng-template>

    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">
          {{ file.name }} - {{ file.size }} bytes
        </li>
      </ul>
    </ng-template>

  </p-fileUpload>
</div>
